body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333; 
}

header {
    display: flex;
    justify-content: center;
    background-color: #2C423F;
    color: #C5C5C5;
    padding: 10px 20px;
    text-align: center;
}

.header-section {
    flex: 1; 
    text-align: center;
}

.header-section.left {
    text-align: left; 
}

.header-section.right {
    text-align: right;             
}

.greeting {
    margin-top: 10px;
    margin-left: 10px; 
    font-size: 22px; 
    background-color: #465955;
    color: #C5C5C5; 
    padding: 8px 12px; 
    border-radius: 12px; /* Rounded corners to create a bubble effect */
    display: inline-block;
}

h2, h3, h4 {
    font-family: 'Merriweather', serif; 
    color: #2c3e50; 
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none; /* Removes bullet points from the list */
    margin-top: 20px; 
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white; 
    background-color: #899093; 
    padding: 10px 15px; 
    border-radius: 20px; 
    text-decoration: none; /* Removes underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

nav ul li a:hover {
    background-color: #A7ABAC;
    color: white; 
}

.content-container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    gap: 20px; 
    background-color: #949B96;
}

.appointment-form {
    flex: 1 1 33%; /* Take up 1/3 of the flex width */
    background: #C5C5C5;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.appointment-list {
    flex: 2 1 66%; /* Take up 2/3 of the flex width */
    background: #C5C5C5;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2); 
    border-radius: 8px;
}

.appointment-form .form-group input,
.appointment-form .form-group textarea {
    width: 70%;  
    margin: 0 auto 10px; /* Centers the fields and adds margin below */
    display: block; 
    padding: 8px;  
    border: 1px solid #ccc; /* border to the inputs */
    border-radius: 4px; /* rounded corners to the inputs */
}

.appointment-form .form-group label {
    display: block;
    text-align: center; 
    margin-bottom: 5px; 
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    display: block; 
    margin-bottom: 5px; 
}

form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group textarea {
    width: 70%;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.appointment-form button {
    width: 30%; 
    padding: 10px;
    margin: 20px auto; 
}

.appointment-list button {
    width: 100%; 
    padding: 5px;
    margin: 5px auto; 
}

.filter-buttons button {
    width: 50%; 
    padding: 10px;    
}

.profileModel-content button{
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; /* Auto margins center button */
}

.filter-buttons {
    display: flex; 
    justify-content: center; 
    gap: 5px; 
    margin-bottom: 2px; 
}

.model-content button {
    width: 100%; 
    padding: 10px;
    margin: 20px auto;
    
}

button {
    background-color: #2C423F; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #606F6B;
}

table {
    width: 100%; 
    border-collapse: collapse; /* Collapses border to avoid double borders */
    box-shadow: 0 2px 15px rgba(0,0,0,0.2);
    border-radius: 8px; /* Rounded corners for the table */
    overflow: hidden; 

}

th, td {
    border-bottom: 1px solid #ddd; /* border for separating rows */
    padding: 8px;
    text-align: left;
    font-weight: 500;
}

th {
    background-color: #2C423F;
    color: #C5C5C5;
    font-weight: bold; 
}

th.title {
    font-weight: bold;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #899093; /* Change background every other row */
}

.updateModel {
    position: fixed; /* Positions the modal relative to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the modal */
    width: 90%; /* Responsive width */
    max-width: 400px; 
    min-height: 300px; 
    background: white;
    border: 3px solid #465955;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 8px;
    z-index: 1000; /* Ensures it's above other content */
    display: none; /* Hide by default */
}

.updateModel label {
    display: block; 
    margin-bottom: 5px;
}

.updateModel-content {
    margin: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.p-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2C423F;
    color: #C5C5C5;
}

.nav, .footer {
    font-family: 'Merriweather', serif; 
    font-size: 18px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Sit on top */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profileModel-content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    max-width: 500px; 
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}


